<div class="container">
    <div style="border-bottom: 1px solid #FDBA30;padding-bottom: 1rem;">
        <img src="assets/6921d54b-108f-4457-b984-ab4dfd56010f.jpg" alt="" 
        style="width:10% !important">
    </div>
    <div class="card p-3">
        <form [formGroup]="formulario_busqueda">
            <div class="row">
                <div class="form-group col-md-3 col-sm-6">
                    <label>Fecha Inicio*</label>
                    <input type="date" class="form-control" formControlName="start_date"
                        [ngClass]="{ 'is-invalid': submitted && f['start_date'].errors}">
                </div>
                <div class="form-group col-md-3 col-sm-6">
                    <label>Fecha Fin*</label>
                    <input type="date" class="form-control" formControlName="end_date"
                        [ngClass]="{ 'is-invalid': submitted && f['end_date'].errors}">
                </div>
                <div class="form-group col-md-3 col-sm-6"
                    [ngClass]="{ 'is-invalid': submitted && f['circuit_id'].errors}">
                    <label>Equipo*</label>
                    <ng-select class="form-control" [items]="lista_equipos" bindLabel="descripcion" bindValue="codigo"
                        formControlName="circuit_id">
                    </ng-select>
                </div>
            </div>
            <div class="button-group">
                <button type="button" class="btn-primary" (click)="buscar()">Buscar</button>
            </div>
        </form>
    </div>
    <div class="card table-responsive">
        <table class="table dataTable px-3">
            <thead>
                <tr>
                    <th>Equipo</th>
                    <th>Circuito</th>
                    <th>Frecuencia</th>
                    <th>Disponibilidad Mecánica</th>
                    <th>Down Time</th>
                    <th>MTBF</th>
                    <th>MTTR</th>
                    <th>AÑO</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of lista_data; let index = index">
                    <td>
                        <p>{{item.equipo}}</p>
                    </td>
                    <td>
                        <p>{{item.circuito}}</p>
                    </td>
                    <td>
                        {{item.frecuencia}}
                    </td>
                    <td>
                        {{item.disponibilidad}}
                    </td>
                    <td>
                        {{item.downtime}}
                    </td>
                    <td>
                        {{item.MTBF}}
                    </td>
                    <td>
                        {{item.MTTR}}
                    </td>
                    <td>
                        {{item.anio}}
                    </td>
                </tr>
                <tr *ngIf="lista_data.pagination?.totalCount == 0">
                    <td colspan="4">
                        <p>No se encontraron registros</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="chart-container">
                <canvas id="MyChart">{{ chart }}</canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="chart-container">
                <canvas id="MyChart2">{{ chart2 }}</canvas>
            </div>
        </div>
    </div>
</div>